.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}
p {
  margin: 0;
}

.banner > img {
  /* max-width: 400px */
  object-fit: contain;
  width: -webkit-fill-available;
}
/* Navbar */
.navbar-container > :first-child {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  /* background-color:blue */
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 60px;
}

.popover-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: flex;
  gap: 20px;
}
.link-container > a {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.link-container > a :hover {
  cursor: pointer;
}

/* sidebar */
.manu-item {
  display: flex;
  flex-direction: column;
}
.sub-manu {
  display: flex;
  padding: 16px 0 10px 0;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  width: 82%;
  align-self: flex-end;
}
.sub-manu.close {
  display: none;
}
.sidebar {
  height: 100%;
  padding: 20px 0 10px 6px;
  /* background-color: #212529; */
  height: 100%;
  /* color: white; */
  display: flex;
  flex-direction: column;
}

/* .add{

  position: fixed;
  top: 12%;
  right: 2%;
  z-index: 99;
} */

.manu-item {
  display: flex;
  justify-content: center;
  min-height: 6%;
  color: white;
  cursor: pointer;
}
.manu-item-title {
  display: flex;

  height: 100%;
  padding-left: 16px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.manu-item-title:hover {
  background-color: #3b3f46;
}

.collaps-btn {
  /* margin: 0 10px 10px 0; */
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* pages */

.page-container {
  padding: 2.8%;
  height: 100%;
  overflow: scroll;
  width: 100%;
  background-color: rgb(251, 251, 251);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 2%;
}
.page-header > h3 {
  font-weight: bold;
  margin: 0;
}

.page-content {
  overflow: hidden;
  /* display: flex; */
}

/* dashboard */
.dashboard-content {
  /* overflow: auto; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* height: 90%; */
}

/* dash upper */

.dashboard-upper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 3;
  padding: 6px;
  /* height: 100%; */
  /* flex-wrap: wrap; */
  gap: 20px;
  /* margin-bottom: 10px; */
}

.dashbodar-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  /* min-height: 144px; */
}

.cards {
  display: flex;
  justify-content: space-around;
  /* align-items: space-around; */
  flex-wrap: wrap;
  margin: 20px 10px;
  gap: 8px;
  height: fit-content;
  /* width: 50%; */
}

.card-container {
  width: 40%;
  min-width: 200px;
  max-height: 100px;
  max-width: 400px;
}

.graphs {
  /* display: flex;
  flex-direction: column; */
  width: 98%;
  min-width: 380px;
  gap: 20px;
  /* max-height: 388px; */
  height: 80%;
  padding: 10px 0;
}

/* dash lower */

.dashboard-lower {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2%;
  padding: 6px 20px;
}

.shortcut-container {
  width: 100%;
  /* margin-left: 40px; */
  /* display: flex; */
  /* justify-content: center; */
  max-width: 620px;
  min-width: 365px;
  height: fit-content;
}

.short-cuts {
  /* width: 80%; */
  padding: 0 20px;
  height: 98%;
}

.shortcut-box {
  display: flex;
  justify-content: space-around;
  gap: 6%;
}

.shortcut-paper {
  padding: 6px;
  width: 30%;
  max-width: 150px;
  min-width: 120px;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px; */
}

.update-cards {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: space-around; */
  flex-wrap: wrap;
  margin: 20px 10px;
  gap: 8px;
  height: fit-content;
  /* width: 50%; */
}

.update-card-container {
  width: 40%;
  min-width: 200px;
  max-height: 100px;
  /* max-width: 400px; */
}

.updates {
  width: 100%;
  flex-grow: 3;
  /* height: 100%; */
  min-width: 380px;
  max-width: 620px;
  /* margin: 0 40px; */
  /* padding: 20px 20px; */
}

.col {
  margin: 10px 0;
}

.modal-row {
  margin: 10px 0;
}

.pay-btn > a {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .dashboard-content {
    flex-wrap: wrap;
  }
  .dashboard-lower {
    align-items: center;

    padding: 20px 6px;
  }
  .shortcut-container {
    width: 100%;
    max-width: inherit;
  }
  .updates {
    width: 100%;
    max-width: inherit;
  }
}

@media only screen and (max-width: 850px) {
  /* navbar */
  .navbar-container > :first-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color:blue */
  }

  .navbar-left {
    display: block;
  }

  .logo {
    width: 40px;
  }

  .navbar-link {
    text-decoration: none;
    color: gray;
    border: 2px soild red;
    padding: 0;
    border-radius: 0;
    font-size: 0.8rem;
  }
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
